* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fff;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1 {
  text-transform: capitalize;
  font-size: 2rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  body {
    font-size: 1rem;
  }
}

@media screen and (max-width: 780px) {
  .nav-link {
    font-size: 0.2rem;
  }
}

/*
=============== 
Navbar
===============
*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: white;
  z-index: 2;
  /* height: 4rem; */
  display: flex;
  align-items: center;
  padding: 0.6rem;
}

.merged-nav {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  justify-items: center;
  align-items: center;
}

.nav-center {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.curly-brace {
  font-size: 2rem;
  margin-right: 0.2rem;
}
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s linear;
  display: none;
}

.nav-toggle .fa-times {
  display: none;
}

.nav-toggle.active .fa-bars {
  display: none;
}

.nav-toggle.active .fa-times {
  display: inline;
}

.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-link {
  display: block;
  padding-left: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  transition: all 0.3s linear;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.nav-link:hover {
  color: rgb(237, 219, 185);
  background: rgb(247, 203, 121);
  padding-left: 2.25rem;
}

.nav-btn {
  background-color: rgb(247, 203, 121);
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
}

.nav-btn a {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

.nav-links {
  display: flex;
  padding-left: 4rem;
  overflow: hidden;
  transition: all 0.3s linear;
}

/* Mobile responsiveness */

@media (max-width: 780px) {
  .nav-btn {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    z-index: 2;
    max-height: 0;
    transition: max-height 0.4s ease;
    overflow: hidden;
  }

  .nav-link {
    margin: 15px 0;
    text-align: right;
    color: #fff;
    padding-right: 1rem;
  }

  .nav-link:hover {
    padding: 0;
    color: orange;
    background: transparent;
  }

  .nav-toggle {
    display: block;
  }

  .nav-btn {
    display: none;
  }

  .nav-links.show {
    max-height: 300px;
  }
}

/*
=============== 
Hero
===============
*/

.hero {
  min-height: 100vh;
  background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-banner {
  text-align: left;
  color: #fff;
  padding: 0 3rem;
  position: absolute;
  left: 0.1rem;
}

.hero-banner h1,
h2 {
  text-transform: uppercase;
}

.hero-banner div h2 {
  font-size: 0.7rem;
}

.hero-banner div h1 {
  margin: 0.8rem 0rem;
}

.hero-banner p {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  letter-spacing: 0.25rem;
  font-size: 0.5rem;
}

.hero-btn {
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  background: rgb(247, 203, 121);
  color: black;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.hero-btn:hover {
  background: transparent;
  color: #fff;
  border-color: #fff;
}

@media screen and (min-width: 430px) {
  .hero-banner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
  }
  .hero-banner h1,
  h2 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3)),
      url("../images/hero-bg.jpg") center/cover no-repeat;
  }
}
